body {
  background: black;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.id-card {
  margin-top: 5px;
  width: 860px;
  height: 540px;
  background: linear-gradient(#d5f562, #69eb98, #d5f562);
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

#rm {
  font-size: 30px;
  text-align: center;
  margin-left: 20px;
  margin-right: 60px;
  margin-bottom: 0px;
}

#bi {
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#n {
  font-size: 20px;
  text-align: left;
  margin-top: 0px;
  margin-left: 300px;
}

.flag {
  float: right;
  width: 100px;
  height: 70px;
  margin-top: 20px;
  margin-right: 30px;
}

.logo {
  float: left;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 90px;
}

#name {
  font-size: 26px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 300px;
}

#nn {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 300px;
}

.info {
  display: flex;
  margin-top: 25px;
  gap: 25px;
  margin: 0;
}

.photo {
  margin-top: -45px;
  margin-left: 25px;
  width: 250px;
  height: 290px;
}

#title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

#content {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0px;
  }

  .id-card {
    margin-top: 200px;
    width: 215px;
    height: 135px;
    padding: 5px;
  }

  #rm {
    font-size: 7.5px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: -15px;
    margin-bottom: 0px;
  }

  #bi {
    font-size: 7.5px;
  }

  #n {
    font-size: 5px;
    margin-left: 75px;
  }

  .flag {
    width: 25px;
    height: 17.5px;
    margin-top: 5px;
    margin-right: 7.5px;
  }

  .logo {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: 22.5px;
  }

  #name {
    font-size: 6.5px;
    margin-bottom: 7.5px;
    margin-left: 75px;
  }

  #nn {
    font-size: 4.5px;
    margin-top: -10px;
    margin-bottom: 0px;
    margin-left: 75px;
  }

  .info {
    margin-top: 0;
    gap: 6.25px;
    line-height: 6.25px;
  }

  .photo {
    margin-top: -11.25px;
    margin-left: 6.25px;
    width: 62.5px;
    height: 72.5px;
  }

  #title {
    font-size: 4px;
  }

  #content {
    font-size: 5px;
    font-weight: bold;
    margin: 0;
  }
}
